nvidia-cuda-runtime-cu12==12.1.105
nvidia-cusolver-cu12==11.4.5.107
nodeenv==1.9.1
dash==3.2.0
google-auth-oauthlib==0.4.6
zipp==3.21.0
zipp==3.20.2
six==1.17.0
six==1.16.0
absl-py==2.3.1
pyerfa==2.0.0.3
imageio==2.35.1
pexpect==4.9.0
astropy==5.2.2
pytz==2025.2
typing_extensions==4.12.2
typing_extensions==4.13.2
Flask==3.0.3
fvcore==0.1.5.post20221221
httpcore==1.0.9
matplotlib==3.7.5
chardet==5.2.0
platformdirs==4.3.6
nvidia-cufft-cu12==11.0.2.54
contourpy==1.1.1
protobuf==3.20.3
nbformat==5.10.4
requests==2.32.4
tenacity==9.0.0
nvidia-cublas-cu12==12.1.3.1
PyYAML==6.0.2
threadpoolctl==3.5.0
eval_type_backport==0.2.2
ninja==1.13.0
scikit-learn==1.3.2
colorlog==6.9.0
pydantic_core==2.27.2
prompt_toolkit==3.0.48
click==8.1.8
oauthlib==3.3.1
shapely==2.0.7
trimesh==4.0.5
nvidia-cudnn-cu12==9.1.0.70
torch==1.10.0+cu113
blinker==1.8.2
wheel==0.44.0
nest_asyncio==1.6.0
google-auth==2.40.3
pyzmq==25.1.2
sniffio==1.3.1
open3d==0.19.0
urllib3==2.2.3
yourdfpy==0.0.58
hydra-core==1.3.2
scikit-image==0.21.0
multimethod==1.9.1
joblib==1.4.2
GitPython==3.1.45
matplotlib-inline==0.1.7
nvidia-cusparse-cu12==12.1.0.106
grpcio==1.70.0
lxml==4.9.2
parso==0.8.4
sentry-sdk==2.37.0
mpmath==1.3.0
stack-data==0.6.2
transforms3d==0.4.1
markdown-it-py==3.0.0
pkgutil_resolve_name==1.3.10
asttokens==3.0.0
Werkzeug==3.0.6
pytorch3d==0.7.2
fire==0.7.1
qpth==0.0.18
pydantic==2.10.6
iopath==0.1.10
pip==24.2
ftfy==6.2.3
requests-oauthlib==2.0.0
tzdata==2025.2
sympy==1.13.3
python-dateutil==2.9.0.post0
python-dateutil==2.9.0
debugpy==1.6.7
Jinja2==3.1.6
exceptiongroup==1.3.0
filelock==3.16.1
xxhash==3.5.0
yacs==0.1.8
clarabel==0.9.0
httpx==0.28.1
scs==3.2.7.post2
ipykernel==6.29.5
ipywidgets==8.1.7
mapbox-earcut==1.0.1
plotly==5.14.1
MarkupSafe==2.1.5
anyio==4.5.2
fsspec==2025.3.0
tqdm==4.67.1
pyasn1==0.6.1
jsonschema==4.23.0
setuptools==75.3.2
h11==0.16.0
Pillow==10.0.0
widgetsnbextension==4.0.14
omegaconf==2.2.2
cvxpy==1.5.2
rsa==4.9.1
numpy==1.24.4
backcall==0.2.0
annotated-types==0.7.0
pyparsing==3.1.4
clip==1.0
jupyter_core==5.8.1
nvidia-nvtx-cu12==12.1.105
pure_eval==0.2.3
nvidia-cuda-cupti-cu12==12.1.105
nvidia-nccl-cu12==2.20.5
antlr4-python3-runtime==4.9.3
tensorboard==2.11.2
charset-normalizer==3.4.3
importlib_resources==6.4.5
smmap==5.0.2
psutil==6.0.0
fonttools==4.57.0
healpy==1.16.2
torchvision==0.11.1+cu113
einops==0.4.1
mdurl==0.1.2
termcolor==2.4.0
Rtree==1.3.0
tornado==6.4.1
tensorboard-plugin-wit==1.8.1
nvidia-cuda-nvrtc-cu12==12.1.105
ptyprocess==0.7.0
gitdb==4.0.12
traitlets==5.14.3
itsdangerous==2.2.0
referencing==0.35.1
executing==2.1.0
msgspec==0.18.6
fastjsonschema==2.21.2
attrs==25.3.0
retrying==1.4.2
wcwidth==0.2.13
ConfigArgParse==1.7.1
packaging==25.0
svg.path==7.0
tensorboard-data-server==0.6.1
jupyter_client==8.6.3
regex==2024.11.6
nvidia-nvjitlink-cu12==12.9.86
pycollada==0.9.2
humanize==4.10.0
wandb==0.21.3
jsonschema-specifications==2023.12.1
pandas==2.0.3
tifffile==2023.7.10
websockets==13.1
Pygments==2.18.0
ipython==8.12.2
UMNN==1.68
networkx==3.1
transformations==2022.9.26
certifi==2025.8.3
viser==1.0.8
jupyterlab_widgets==3.0.15
triton==3.0.0
kiwisolver==1.4.7
PyWavelets==1.4.1
ecos==2.0.14
nvidia-curand-cu12==10.3.2.106
rich==14.1.0
portalocker==3.0.0
pyquaternion==0.9.9
Markdown==3.7
tabulate==0.9.0
scipy==1.10.0
pickleshare==0.7.5
cycler==0.12.1
cachetools==5.5.2
decorator==5.1.1
lazy_loader==0.4
rpds-py==0.20.1
comm==0.2.2
jedi==0.19.1
idna==3.10
pyasn1_modules==0.4.2
addict==2.4.0
osqp==1.0.4
importlib_metadata==8.5.0
embreex==2.17.7.post6
pointnet2==0.0.0
csdf==0.0.1
isaacgym==1.0rc4
torchsdf==0.1.0
pytorch_kinematics==0.3.0
point-e==0.0.0
packaging==24.1
typing_extensions==4.12.2
backports.tarfile==1.2.0
wheel==0.43.0
autocommand==2.2.2
jaraco.text==3.12.1
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.functools==4.0.1
importlib_metadata==8.0.0
platformdirs==4.2.2
jaraco.context==5.3.0
importlib_resources==6.4.0
tomli==2.0.1
typeguard==4.3.0
zipp==3.19.2
more-itertools==10.3.0
